/* This file is for your main application css. */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

@import "./phoenix.css";

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    background-color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, h1, h2, h3, h4, h5, h6, p, li, textarea, table, tr, td {

    font-family: 'IBM Plex Mono', monospace;

    color: #f2f2f2 !important;
}

input, button {

    background-color: #313131 !important;
    color: white !important;
}

h2.about {
    border-bottom: 5px solid #333;


}
p.about {

    padding: 10px;
    border-left: 2px solid #ccc;
}
