/* This file is for your main application css. */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

@import "./phoenix.css";

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2.about {
    border-bottom: 5px solid #333;


}
p.about {

    padding: 10px;
    border-left: 2px solid #ccc;
}
